<html>
<head>
    <title>{{ projectName }}</title>
    <script src="static/js/vue.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<header>

    <div class="header-menu">
        <a href="/">
            <div id="header-title">
                {{ projectName }}
            </div>
        </a>
        <div id="header-btn" class="blue-btn">
            SE CONNECTER
        </div>
    </div>

    <img id="header-img" src="static/img/wave-haikei.svg">
</header>

<section class="intro">
    <h1>Aider <span class="simple-text">en toute</span> simplicité !</h1>
    <h4 class="sub-title">Aidy, premier site d’aide et d’assistances entre particuliers</h4>
</section>

<section class="presensation">
    <h1><span class="pink">Aidy</span> c'est...</h1>

    <div class="tri-section">
        <div class="tri-section-component mise-relation">
            
            <h2>Une mise en relation</h2>

            <p>
                Aidy permet de trouver la personnes qu’il vous faut pour vous aider dans votre quotidien
            </p>

            <p>
                Une solution rapide pour aider et améliorer la vie
            </p>
        </div>

        <div class="tri-section-component service-client">
            <h2>Un service client</h2>

            <p>
                Un service client disponible
            </p>

            <div class="p247">
                24<span class="black">/</span>7
            </div>

            <p>
                pour toutes demandes ou problèmes
            </p>
        </div>

        <div class="tri-section-component simplicite-vie">
            <h2>Une simplicité de vie</h2>

            <p>
                Avec sa solution intégré Aidy est pourvue d’une prise en main ultra rapide
            </p>
            <p>
                Une mise en contact efficace et rassurante grâce à la sécurité du service 
            </p>
        </div>
    </div>

    <div class="waves-container">
        <div>
            <img id="header-img" src="static/img/wave-red.svg">
        </div>
        <div></div>
        <div>
            <img id="header-img" src="static/img/wave-blue.svg">
        </div>
    </div>
</section>

<section class="savoir-plus">
    <h1>Vous...</h1>

    <div class="savoir-plus-container">
        <div class="savoir-plus-flex">
            <h3>... souhaitez aider</h3>

            <p>
                Devenez un intervenant en proposant vos services d’aide à la personne au quotidient
            </p>

            <a href="/offre">
                <div class="blue-btn">
                    EN SAVOIR PLUS
                </div>
            </a>
        </div>

        <div class="savoir-plus-flex">
            <h3>... souhaitez être aidé</h3>

            <p>
                Trouvez la personne idéale pour vous aider
            </p>

            <a href="/demande">
                <div class="blue-btn">
                    EN SAVOIR PLUS
                </div>
            </a>
        </div>
    </div>
</section>

<section class="offres">
    <h1>Nos offres</h1>

    <h2>Numérique</h2>
    <h3>Accès au site web</h3>

    <div class="offres-container">
        <div class="offre-flex">
            <div class="offre-title-content">
                <h4>Avec Engagement</h4>
            </div>
            <h4 class="offre-price">40€</h4>
            <h3>Pour 3 mois,<br>Engagement sur 1 an</h3>
            <div>
                <div class="blue-btn">
                    DECOUVRIR L'OFFRE
                </div>
            </div>
        </div>

        <div class="offre-flex">
            <div class="offre-title-content">
                <h4>Sans Engagement</h4>
            </div>
            <h4 class="offre-price">50€</h4>
            <h3>Pour 3 mois</h3>
            <div>
                <div class="blue-btn">
                    DECOUVRIR L'OFFRE
                </div>
            </div>
        </div>
    </div>

    <h2>Numérique + Papier</h2>
    <h3>Accès au site web, recevez tous les 3 mois un journal d’annonces</h3>

    <div class="bookContainer">
        <img src="../static/img/book.jpg" />
    </div>


    <div class="offres-container">
        <div class="offre-flex">
            <div class="offre-title-content">
                <h4>Avec Engagement</h4>
            </div>
            <h4 class="offre-price">55€</h4>
            <h3>Pour 3 mois,<br>Engagement sur 1 an</h3>
            <div>
                <div class="blue-btn">
                    DECOUVRIR L'OFFRE
                </div>
            </div>
        </div>

        <div class="offre-flex">
            <div class="offre-title-content">
                <h4>Sans Engagement</h4>
            </div>
            <h4 class="offre-price">65€</h4>
            <h3>Pour 3 mois</h3>
            <div>
                <div class="blue-btn">
                    DECOUVRIR L'OFFRE
                </div>
            </div>
        </div>
    </div>

</section>

<footer>
    <h1>{{ projectName }}</h1>
</footer>

</body>
</html>

<script>
    const head = Vue.createApp({
        data(){
            return{

                projectName :"<%= name %>",

            }
        }
    })

    head.mount(document.querySelector("head"));




    const body = Vue.createApp({
        data(){
            return{

                projectName :"<%= name %>",

            }
        }
    })

    body.mount(document.querySelector("body"));


</script>